.container {
  display: flex;
  justify-content: space-between;
  height: 25rem;
  margin-top: 3rem;
}
.boxMainSelector{
  margin: 0 0 12rem 0;
}
.box {
  padding: 0 .1rem;
  width: 33.33%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.box .text {
  position: relative;
  bottom: 5.5rem;
  text-align: center;
  margin-top: auto;
}

.box:hover h2 {
  color: rgb(183, 181, 178);
  text-shadow: 1px 1px 0 rgb(108, 105, 105);
  transition: 2s;
}

h2 {
  color: rgb(209, 205, 205);
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 1px 1px 0 rgb(148, 134, 134);
}

.textTwo h2 {
  color: rgb(170, 168, 165);
  text-shadow: 1px 1px 0 rgb(87, 85, 85);
}

.box:hover .textOne h2 {
  color: rgb(255, 255, 255);
  transition: 2s;
}

.box:hover .textTwo h2 {
  color: rgb(147, 146, 143);
  transition: 2s;
}

.textThree h2 {
  color: rgb(133, 131, 129);
  text-shadow: 1px 1px 0 rgb(60, 58, 58);
}