.saludo{
    padding: 2rem 5rem;
    font-size: xx-large;
    color: black;
    text-align: center;
}
.saludo:hover{
    color: darkgoldenrod;
    cursor: pointer;
}
.orderItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 25%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .clasicos {
    background-color: #f2f2f2;
  }
  
  .diseño {
    background-color: #e6f7ff;
  }
  
  .accesorios {
    background-color: #ffe6e6;
  }
  .orderAdd{
    display: flex;
    align-items: center;
    justify-content: center;
  }